* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 18px 0;
  color: white;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container{
  width: 90%;
  margin: 0 auto;
}


